:root {
    --primary: #111B54;
    --light: #ffff;
    ---grey: #efefef;
}

body {
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-grey {
    background-color: var(---grey)!important;
}

.btn {
    padding: .7rem 3rem;
    margin-top: 1.3rem;
    font-size: 1.2rem;
    background: var(---grey);
    border-radius: .3rem;
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.stat {
    border-right: 1px solid var(---grey);
}
.caja{
    position: relative;
    display: inline-block;
}
#texto-1{
    position: absolute;
    top: 3px;
    left: 4%;
    font-size: 23px;
    color: white;
}
#texto-2{
    position: absolute;
    top: 1px;
    right: 3%;
    font-size: 10px;
    color: white;
}
#texto-3{
    position: absolute;
    top: 40px;
    left: 4%;
    font-size: 15px;
    color: white;
}
#texto-4{
    position: absolute;
    bottom: 1px;
    right: 35%;
    font-size: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.274);
    
    
}
#btn{
    font-size: 15px;
}